@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation


@model RenderingModel
@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <title>@Html.Sitecore().Field("Meta Title", new { DisableWebEdit = true })</title>
    <meta http-equiv="description" name="description" content="@Html.Sitecore().Field("Meta Description")"> 
  @Html.Sitecore().VisitorIdentification()
</head>
  <body>
    <h1>@Html.Sitecore().Field("Page Title")</h1>
    <div>
      @Html.Sitecore().Placeholder("main-site-content")
    </div>     
  </body>
</html>